
/* #region Home Sections */

.section {
    height: 500px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-text {
    background-color: white;
}

.section-image {
    background-color: rgb(239, 123, 0, 0.7);
}

.generic-image {
    width: 100%;
    height: 100%;
    margin: auto;
    background-size: contain !important;
    position: relative;
    top: 50%; 
    transform: translate(0,-50%);
}

.generic-content {
    width: 100%;
    position: relative;
    top: 50%; 
    transform: translate(0,-50%);
}

.generic-content h1 {
    width: 85%;
    margin: auto;
    color: #EF7B00;
}

.generic-content p {
    color: #002B49;
    width: 90%;
    margin: auto;
    padding: 20px 20px;
}

/* #endregion Home Sections */

/* #region Calendar */

/* #region Calendar Structure */

.container-calendar {
    width: 100%;
    height: 800px;
    background-image: url(../images/background.png);
    background-size: contain;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar {
    width: 45rem;
    height: 52rem;
    background-color: #002B49;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }
  
  .month {
    width: 100%;
    height: 12rem;
    background-color: #eee;
    color: #002B49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  
  .days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }
  
  .event:hover {
    background-color: rgba(252, 174, 102, 0.9);
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: cadetblue;
    border-radius: 250px;
  }

  .event {
    background-color: #EF7B00;
  }

/* #endregion Calendar Structure */

/* #region Popup */

.openPopup {
    visibility: visible !important;
    transform: scale(1) !important;
}

.eventPopupContainer {
    position: fixed;
    z-index: 100;
    width: 50%;
    top: 25%;
    left: 25%;
    transform: scale(0.01);
    text-align: center;
    padding: 0px;
    background-color: #eee;
    color: #002B49;
    border: 5px solid black;
    visibility: hidden;
    transition: 0.4s;
}

.eventPopupTitle {
    background-color: white;
    color: #EF7B00;
    padding: 20px 40px;
}

.eventPopupTitle h1 {
    line-height: 3.8rem;
    font-size: 3rem;
    font-family: Koulen;
}

.eventPopupMessage {
    padding: 20px;
}

.eventPopupMessage p {
    font-size: 2rem;
}

.eventPopupFooter {
    padding: 20px 0 40px 0;
}

.eventPopupFooter button {
    font-size: 2rem;
    border-radius: 100px;
    color: #EF7B00;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}

/* #endregion Popup */

/* #endregion Calendar */

/* #region OTB Tournaments Section */
.carousel-container {
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

.carousel {
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border: 3px #002B49 solid;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrows {
    color: white !important;
    font-size: 3vw;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.arrows-display-left {
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}

.arrows-display-right{
    position:absolute;
    top:50%;right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}

.side-images {
    background-size: contain !important;   
    height: 80%;
    width: 80%;
    margin: auto;
}

.past-tournaments-container {
    background-color: rgb(239, 123, 0, 0.7);
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.list-container {
    margin-top: 50px;
}

.list-container h1 {
    color: #002B49;
    font-size: 3.5vw !important;
}

.list-container a {
    font-size: 2vw;
}

/* #endregion OTB Tournaments Section */

/* #region Join Us */

.section-joinus {
    height: 650px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* #endregion Join Us */

/* #region Other Components */

.preface {
    text-align: center;
    display: grid;
    background-color: #002B49;
    padding: 80px;
    color:  white;
}

.preface h2 {
    margin: auto;
    width: 60%;
}

/* #endregion Other Components */ 

/* #region Responsive Design */

/* #region Small screens, laptops */

@media screen and (max-width: 1024px) {

    .list-container h1 { font-size: 5vw !important; }
    .list-container a { font-size: 2.8vw !important; }
    .section-joinus { height: 400px; }

}

/* #endregion Small screens, laptops */

/* #region iPads, Tablets */

@media screen and (max-width: 768px) {

    .section { height: 370px; }
    .past-tournaments-container { height: 400px; }
    .preface { padding: 50px; }
    .carousel-container { height: 450px; grid-template-columns: 1fr 6fr 1fr; }
    .container-calendar { height: 600px; }
    .arrows { font-size: 6vw; }
    .side-images { background-image: none !important; }
    .eventPopupContainer { width: 80%; left: 10%; top:15%; }
    .eventPopupTitle h1 { font-size: 5vw !important; }
    .eventPopupMessage p { font-size: 4vw !important; }

}

/* #endregion iPads, Tablets */

/* #region Mobile devices */

@media screen and (max-width: 480px) {
  
    .past-tournaments-container { height: 300px; }
    .list-container h1 { font-size: 7vw !important; }
    .list-container a { font-size: 4vw !important; }
    .section { height: 230px; }
    .generic-content p { padding: 5px 10px; }
    .preface { padding: 25px; }
    .carousel-container { height: 400px; }
    .container-calendar { height: 500px; }
    .arrows { font-size: 8vw; }  
    .section-joinus { height: 240px;}

}

/* #endregion Mobile devices */

/* #endregion Responsive Design */
