/* #region Main Nav */

nav {
    height: 330px;
    background-color: #002B49;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.menu {
    text-align: center;
    margin: auto;
}

.menu-item {
    padding: 5px 5px;
}

.menu-item a {
    font-weight: bold;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

.menu-item a:hover {
    color: #EF7B00;
}

.logoClub {
    background: url(../images/logoClubNeg.png) no-repeat center center;
    background-size: contain;
    height: 100%;
    width: 60%;
    margin: auto;
}

.logoPoli {
    background: url(../images/logoPolitoNeg.png) no-repeat center center;
    background-size: contain;
    height: 100%;
    width: 60%;
    margin: auto;
}

/* #endregion Main Nav */

/* #region Hamburger Menu */

/* The Overlay (background) */

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 50px;
    height: 7px;
    margin: 8px auto;
    background-color: white;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(0, 43, 73, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.35s; /* 0.2 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 5vw;
    color: #DDDDDD;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #EF7B00;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  
/* #endregion Hamburger Menu */

/* #region Responsive Design */

/* #region Small screens, laptops */

@media screen and (max-width: 1024px) {
    
    .logoPoli { width: 80%; }
    .logoClub { width: 80%; }
    .menu-list {display:  none; }
    .hamburger { display: block; }
    .hamburger.active .bar:nth-child(2) { opacity: 0; }
    .hamburger.active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .hamburger.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

}

/* #endregion Small screens, laptops */

/* #region iPads, Tablets */

@media screen and (max-width: 768px) {

    nav { height: 230px; }

}

/* #endregion iPads, Tablets */

/* #region Mobile devices */

@media screen and (max-width: 480px) {
  
    .bar { height: 3px; margin: 5px auto; width: 35px;}
    nav { height: 130px; }

}

/* #endregion Mobile devices */

/* #endregion Responsive Design */
