/* #region Small screens, laptops */

@media screen and (max-width: 1024) {

}

/* #endregion Small screens, laptops */

/* #region iPads, Tablets */
@media screen and (max-width: 768) {
    
    nav { height: 180px; }

    .logoClub {
        max-height: 150px;
    }

    .logoPoli {
        max-height: 70px;
    }

    .menu-list {display:  none; }
    .hamburger { display: block; }
    .hamburger.active .bar:nth-child(2) { opacity: 0; }
    .hamburger.active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .hamburger.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

    .preface { padding: 40px; }
    .preface h2 { font-size: 4vw; }
    .section { height: 50vw; }
    .container { height: 50% !important;}

    .popup {
        top: 25%;
        width: 76%;
        margin: 12%;
    }

    footer {  height: 120px; }
    .social { padding-top: 30px; }
    .social-item { padding: 0 15px; }
    .social-item a img { height: 40px; width: 40px;}
}

/* #endregion iPads, Tablets */

/* #region Mobile devices */
@media screen and (max-width: 480px) {
    .logoPoli { max-height: 70px; max-width: 80px;}

    .generic-content h1 {font-size: 4vw;}
    .generic-content p {font-size: 3vw;}

    .eventPopupContainer {
        width: 80%;
        margin: 10%;
        top: 30%;
        transform: scale(0.01);
        text-align: center;
        padding: 0px;
    }
    
    .eventPopupTitle {
        padding: 20px 40px;
    }
    
    .eventPopupTitle h1 {
        font-size: 3.2rem;
    }
    
    .eventPopupMessage {
        padding: 20px;
    }
    
    .eventPopupMessage h1 {
        font-size: 2.3rem;
    }
    
    .eventPopupFooter {
        padding: 10px 0 20px 0;
    }

    .eventPopupFooter button {
        font-size: 2rem;
        padding: 15px;
    }

    .social p { font-size: 3vw; margin-top: 8px; }
}

/* #endregion Mobile devices */
